<p>
  settings works!
</p>
			<div class="box-content">
				<form id="defaultForm" method="post" action="validators.html" class="form-horizontal">
			
					<fieldset>
						
                        
                        <div class="form-group">
							<label class="col-sm-3 control-label">Merchant ID</label>
							
								<label class="col-sm-3 control-label">000001</label>
							
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label">Merchant Name</label>
							
								<label class="col-sm-3 control-label">Goldline Resturant</label>
							
						</div>
                        <div class="form-group">
						
						<label class="col-sm-3 control-label">Address</label>
						<div class="col-sm-7">
							<label class="col-sm-7 control-label">23, East Vellan Street,Shenoy Nagar </label>
							<span class="fa fa-check-square-o txt-success form-control-feedback"></span>
						</div>
					   </div>
                        
						<div class="form-group">
							<label class="col-sm-3 control-label"></label>
							
								<label class="col-sm-3 control-label">Chennai - 600105</label>
							
						</div>
                        
                        <div class="form-group">
							<label class="col-sm-3 control-label">Mobile +91</label>
							<div class="col-sm-5">
								<input type="text" class="form-control" name="mobile" placeholder="" />
							</div>
						</div>
                        <div class="form-group">
							<label class="col-sm-3 control-label">Alt Mobile +91</label>
							<div class="col-sm-5">
								<input type="text" class="form-control" name="altmobile" placeholder="" />
							</div>
						</div>
                        
						<div class="form-group">
							<label class="col-sm-3    control-label">Head Office</label>
                            	<div class="col-sm-1">
							<div class="checkbox">
								<label>
									<input type="checkbox" checked> Yes
									<i class="fa fa-square-o small"></i>
								</label>
                               
                                    </div></div>
                                    
                                    <div class="col-sm-4">
                                     <label class="control-label">Select Branch</label>
                                    
								<select class="populate placeholder" name="branch" id="branch">
									<option value="">-- Select a Branch --</option>
									<option value="fr">Adyar</option>
									<option value="de">Guindy</option>
									<option value="it">Saidapet</option>
									<option value="jp">Tnagar</option>
									<option value="ru">Nungambakkam</option>
									<option value="gb">OMR</option>
									<option value="us">Rapuram</option>
								</select>
							</div>      
						
							
						</div>
                        
                        <div class="form-group">
							<label class="col-sm-3    control-label">Expose Povals</label>
                            	<div class="col-sm-1">
							<div class="checkbox">
								<label>
									<input type="checkbox" checked> Yes
									<i class="fa fa-square-o small"></i>
								</label>
                               
                                    </div></div> 
                                   
                                        <div class="col-sm-2">
                                     <label class=" control-label">Add Merchants</label>       
                            </div>
                            <div class="col-sm-3">
                             
                         
							<select id="s2_with_tag" multiple="multiple" class="populate placeholder">
								<option>Bistro Coffee</option>
								<option>Nandos</option>
								<option>Rajputra</option>
								<option>Saravanas</option>
								<option>Anandhas</option>
								<option>Sangeethas</option>
								<option>Palmshore</option>
								<option>Bhuharis</option>
							</select>
						</div>     
						
							  </div>
						

                      <div class="form-group">
						<div class="col-sm-offset-2 col-sm-2">
							<button type="cancel" class="btn btn-default btn-label-left">
							<span><i class="fa fa-clock-o txt-danger"></i></span>
								Cancel
							</button>
						</div>
					
						<div class="col-sm-2">
							<button type="submit" class="btn btn-primary btn-label-left">
							<span><i class="fa fa-clock-o"></i></span>
								Submit
							</button>
						</div>
					</div>

                        
                    </fieldset>
                    
                </form>
                
          
                     
               </div>
